---
import AboutLayout from "@layouts/AboutLayout.astro";
import AuthorInfo from "@components/AuthorInfo.astro";
import { fetchAll } from "@scripts/fetchData.ts";

const authors = await fetchAll();
---

<AboutLayout>
    <h1 class="text-5xl font-black">Sobre esse blog</h1>
    {authors.map((a) => (
        <AuthorInfo author={a.data} description={a.description}/>
    ))}
</AboutLayout>
