---
import AboutLayout from "../layouts/AboutLayout.astro";
import AuthorInfo from "../components/AuthorInfo.astro";
import { fetch } from "../scripts/authorsFetch.ts";

const authors = fetch();
---

<AboutLayout>
    <h1 class="text-5xl font-black">Sobre esse blog</h1>
    {authors.map((a) => (
        <AuthorInfo author={a.data} description={a.description}/>
    ))}
</AboutLayout>
