---
import HomeLayout from "../layouts/HomeLayout.astro";
import AuthorInfo from "../components/AuthorInfo.astro";
import { personal, organization } from "../scripts/authors.ts";
---

<HomeLayout>
    <h1 class="text-5xl">About this blog</h1>
    <AuthorInfo author={organization} />
    <AuthorInfo author={personal} />
</HomeLayout>
