---
import HomeLayout from "../layouts/HomeLayout.astro";
import UserInfo from "../components/UserInfo.astro";
import { personal, organization } from "../scripts/users.ts";
---

<HomeLayout>
    <h1 class="text-5xl">About this blog</h1>
    <UserInfo user={organization} />
    <UserInfo user={personal} />
</HomeLayout>
