---
---
<footer>
    <a
        target="_blank"
        href="https://github.com/csvitor-dev"
        rel="GitHub Account"
    >My Personal GitHub</a>
    <a
        target="_blank"
        href="https://github.com/An-Ordinary-Software-Engineering"
        rel="GitHub Account"
    >Organization GitHub</a>
</footer>