---
import { Image } from "astro:assets";
import github from "../assets/github.svg";

const organization: string = "https://github.com/An-Ordinary-Software-Engineering";
---

<a href={organization} rel="external" target="_blank"
    class="ml-2 p-1 transition-all ease-linear hover:bg-[#f0f0f0] hover:scale-110 rounded-lg"
>
    <Image
        class="w-8"
        src={github}
        alt="aOSE GitHub account"
    />
</a>