---
import { Icon } from "astro-icon/components";

const organization: string = "https://github.com/An-Ordinary-Software-Engineering";
---

<a href={organization} rel="external noreferrer noopener" target="_blank"
    class="ml-2 p-1 transition-all ease-linear hover:bg-w-aose hover:scale-110 rounded-lg"
>
    <Icon
        class="w-8"
        name="media/github"
        title="GitHub"
        size={30}
    />
</a>