---
---

<header>
       <div>
         <img
           src="/images/aose_black.svg"
           alt="black logo aOSE"
         />
         <h1>An Ordinary Software Engineering</h1>
       </div>
       <div>
         <nav>
           <a href="#" rel="posts">Posts</a>
           <a href="#" rel="about">About</a>
         </nav>
       </div>
</header>