---
interface Props {
    link: string;
    rel: string;
    blankActive: boolean;
}

const { link, rel, blankActive } = Astro.props;
---

<a
    class="transition-colors ease-in delay-150 py-1 px-4 hover:bg-[#f0f0f0] rounded-full text-b-aose text-lg font-bold"
    href={link}
    rel={rel}
    target={blankActive ? "_blank" : "_self"}
>
<slot />
</a>