---
import Media from './Media.astro';
import SubTitle from './SubTitle.astro';

interface Props {
    media: {
        iconRef: string;
        name: string;
        url: string;
    }[];
}

const { media } = Astro.props;
---

<section class="mb-1">
    <SubTitle>Contatos | Mídias</SubTitle>
    <div class="flex">
        {media.map((m) => (
            <Media info={m} />
        ))}
    </div>
</section>
