---
import Media from './Media.astro';

interface Props {
    media: {
        iconRef: string;
        name: string;
        url: string;
    }[];
}

const { media } = Astro.props;
---

<div class="flex">
    {media.map((m) => (
        <Media info={m} />
    ))}
</div>