---
import Stack from './Stack.astro';
import SubTitle from './SubTitle.astro';

interface Props {
    stacks: {
        iconRef: string;
        name: string;
    }[];
}

const { stacks } = Astro.props;
---
<section class="mb-1">
    <SubTitle>Habilidades | Aprendizagem</SubTitle>
    <div class="grid grid-cols-4 grid-rows-2 w-72">
        {stacks.map((s) => (
            <Stack info={s} />
        ))}
    </div>
</section>
