---
import Stack from './Stack.astro';

interface Props {
    stacks: {
        iconRef: string;
        name: string;
    }[];
}

const { stacks } = Astro.props;
---

<div class="flex">
    {stacks.map((s) => (
        <Stack info={s} />
    ))}
</div>