---
import { Icon } from "astro-icon/components";
import { type Difficulty } from "../scripts/types/Post.ts";

interface Props {
    difficulty: Difficulty;
}

const { difficulty } = Astro.props;
---

<div class="flex justify-between items-center font-bold w-full">
    <button class="px-0.5 text-center w-20 rounded-full font-bold">
        <Icon name={`diff/${difficulty}`} title={`level ${difficulty}`} />
    </button>
    <button
        class="transition-transform hover:scale-110"
    >
        <Icon 
            name="gear" title="settings" size={20} 
        />
    </button>
</div>