---
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout pageTitle="Posts | TechBlog">
    <main class="grid grid-cols-3 justify-items-center px-10 mb-3 gap-y-8">
        <slot />
    </main>
</BaseLayout>